@import './../../../assets/abstract/headquarters';

.btn {
    padding: 1rem 2rem;
    border-radius: $border_radius;
    transition: box-shadow 0.2s;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0.4rem 1rem rgba($color: #000000, $alpha: 0.3);
    }

    &_red {
        color: $white;
        background-color: $red;
    }

    // &_silver {
    //     color: $black;
    //     background-color: $silver;
    // }

    &_silver {
        background-color: $white;
        background-size: 300%;
        color: $black;
        transition: 0.5s;

        &:hover {
            background-position: 100%;
            color: $black;
        }
    }



    span[class^='icon'] {
        margin-left: 1rem;
        font-size: 1.5rem;
    }
}

.btn2 {

    padding: 1rem 2rem;
    border-radius: $border_radius;
    transition: box-shadow 0.2s;
    text-align: center;
    cursor: pointer;

    // &:hover {
    //     box-shadow: 0 0.4rem 1rem rgba($color: #000000, $alpha: 0.3);
    // }

    &_red {
        color: $white;
        background-color: $red;
    }

    // &_silver {
    //     color: $black;
    //     background-color: $silver;
    // }

    &_silver {
        background-color: $white;
        background-size: 300%;
        color: $black;
        transition: 0.5s;

        &:hover {
            background-position: 100%;
            color: $black;
            background-color: $silver;
        }

    }
}

.btn3 {

    padding: 1rem 2rem;
    border-radius: $border_radius;
    transition: box-shadow 0.2s;
    text-align: center;
    cursor: pointer;

    &_green {
        text-align: center;
        background-color: $green;
        background-size: 300%;
        color: $white;
        transition: 0.5s;
        width: 100%;
        padding-right: 15rem;

        &:hover {
            background-position: 100%;
            color: $black;
            background-color: $silver;
        }

    }
}