@import './../../assets/abstract/headquarters';
.mainTitle {
  text-align: justify;
  font-weight: 600;
  text-indent: 3rem;
  background-size: 2.2rem;
  background-repeat: no-repeat;
  background-position: right top;
  > p {
    font-size: 1.7rem;
  }
}
.author {
  width: 100%;
  background-color: #404663;
  padding: 1rem;
  border-radius: $border_radius;
  .names {
    p {
      margin-bottom: 0.3rem;
      font-size: 0.8rem;
    }
  }
  .image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
}
.lastVideosContainer {
  .title {
    padding: 1rem 0 2rem;
    > img {
      margin-left: -1rem;
      width: 4rem;
    }
  }
  .content {
    padding: 0 0 2rem;
    overflow-x: auto;
  }
}
