@import './../../assets/abstract/headquarters';
.sliderContainer {
  width: calc(100% + 2rem);
  background-position: center;
  background-size: cover;
  position: relative;
  left: 1rem;
  margin-top: -3rem;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 2;
  }
  &::before {
    top: 0;
    background-image: linear-gradient(to bottom, $red, transparent);
  }
}
.infoContainer {
  padding: 1rem 0;
  .avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
  .titles {
    padding: 1rem;
    flex: 1;
    p {
      margin-top: 1rem;
    }
  }
  .faves {
    width: 5rem;
    span {
      font-size: 1.5rem;
    }
  }
}
.aboutContainer {
  text-align: justify;
  font-size: 1.5rem;
}
.featuresContainer {
  margin: 1rem 0;
  .titles {
    padding: 0.8rem 2rem;
    background-color: $red;
    color: $white;
    border-radius: $border_radius;
  }
  .content {
    margin-top: 1rem;
    .items {
      background-color: $white;
      padding: 0.8rem 2rem;
      border-radius: $border_radius;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
.pricingContainer {
  margin: 1rem 0;
  .titles {
    padding: 0.8rem 2rem;
    background-color: $red;
    color: $white;
    border-radius: $border_radius;
  }
  .content {
    margin-top: 1rem;
    flex-wrap: wrap;
    .cart {
      background-color: $white;
      border-radius: $border_radius;
      overflow: hidden;
      width: calc(50% - 0.5rem);
      margin-bottom: 1rem;
      .text {
        padding: 2rem;
      }
      .btns {
        padding: 1rem;
        background-color: $green;
        width: 100%;
        color: $white;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}
.mapContainer {
  overflow: hidden;
}
.popularContainer {
  .title {
    padding: 0 0 2rem;
    > span {
      margin-left: -1rem;
      font-size: 3rem;
      color: darken($color: $grayBG, $amount: 20);
    }
  }
  .content {
    padding: 0 0 2rem;
    overflow-x: auto;
  }
}
