<div class="coverContainer" [style.backgroundImage]="'url(' + data.image + ')'">
    <div class="flex-col middle-sm middle-xs contentContainer">
        <div class="col-sm-12 col-xs-12 titlesContainer">
            <div class="flex-col column-sm column-xs">
                <h6 class="title">{{ data.title }}</h6>
                <p class="subTitle">{{ data.subtitle }}</p>
            </div>
        </div>
        <div class="col-sm-4 around-sm col-xs-4 around-xs buttonsContainer">
            <span (click)="likeVideo(data.id)" class="icon-heart-outline" [ngClass]="{'red': liker}"></span>
        </div>
    </div>
</div>
  