<div class="container" [ngClass]="{ gray: true }">
    <ng-template #notGymList>
        <div class="flex-col center-md middle-md loader">
            <div class="flex-col center-md middle-md load"></div>
        </div>
    </ng-template>

    <ng-container *ngIf="newsStore; else notGymList">
        <app-search></app-search>
        <div class="sliderContainer">
            <div class="flex-col between-sm between-xs categoriesContainer">
                <ng-container *ngFor="let data of categories">
                    <app-category-card [data]="data" (change)="checked(data.query)" (click)="selectCat(data.id)"></app-category-card>
                </ng-container>
            </div>
        </div>
        <!-- <div class="flex-col middle-sm middle-xs filterContainer">
          <div
            class="flex-col middle-sm middle-xs flex-col center-sm center-xs icon"
          >
            <span class="icon-sort-button-with-three-lines"></span>
          </div>
          <div class="title"><label for="sort">مرتب سازی :</label></div>
          <div class="selectbox">
            <select name="sort" id="sort">
              <option value="1">امتیاز کاربران</option>
              <option value="2">پر بازدید ها</option>
              <option value="3">گرانترین</option>
            </select>
          </div>
        </div> -->
        <div (scroll)="onScroll($event)" class="flex-col between-sm between-xs newslistContainer">
            <ng-container *ngFor="let data of newsStore">
                <app-news-card [data]="data"></app-news-card>
            </ng-container>
        </div>
    </ng-container>
</div>
