@import './../../assets/abstract/headquarters';

.filterContainer {
  margin: 1rem auto;
  border-radius: $border_radius;
  height: 5rem;

  .icon {
    width: 10%;

    span {
      font-size: 1.5rem;
    }
  }

  .title {
    padding: 0 1rem;
  }

  .selectbox {
    width: 50%;

    select {
      width: 100%;
      height: 100%;
      border: 0;
      outline: 0;
      background-color: transparent;
      appearance: none;
      text-align: center;
    }
  }
}
.newslistContainer {
  display: flex;
  flex-wrap: wrap;
}

.example-viewport {
  height: 100vh;
  width: 100%;
}

.example-item {
  height: 100px;
  margin: 5px;
}
