<div class="container" [ngClass]="{ gray: true }">
  <ng-template #notGymList>
    <div class="flex-col center-md middle-md loader">
      <div class="flex-col center-md middle-md load"></div>
    </div>
  </ng-template>

  <ng-container *ngIf="newsStore; else notGymList">
    <app-search></app-search>
    <div class="flex-col middle-sm middle-xs filterContainer">
      <div class="flex-col middle-sm middle-xs flex-col center-sm center-xs icon">
        <span class="icon-sort-button-with-three-lines"></span>
      </div>
      <div class="title"><label for="sort">مرتب سازی :</label></div>
      <div class="selectbox">
        <select name="sort" id="sort" (change)="selectOption($event.target.value)">
          <option *ngFor="let i of options" [value]="i.value">{{i.viewValue}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="flex-col between-sm between-xs newslistContainer" infinite-scroll [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="100" [infiniteScrollThrottle]="100" (scrolled)="onScrollDown()" (scrolledUp)="onUp()"
      style="height: 100%;">
      <ng-container *ngFor="let data of newsStore">
        <app-news-card [data]="data"></app-news-card>
      </ng-container>

    
    </div> -->
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport flex-col between-sm between-xs newslistContainer"
      (scroll)="onScroll($event)">
      <ng-container *ngFor="let data of newsStore" class="example-item" style="margin:5px;">
        <app-news-card [data]="data"></app-news-card>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
<!-- infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()" -->


<!-- <div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onUp()">
  <p *ngFor="let i of array">
    {{ i }}
  </p>
</div> -->
